<h3><%= t(:shipping_addresses, scope: :address_book) %></h3>
<% if spree_current_user.addresses.present? %>
<table id='user_addresses' class="table table-striped">
  <tbody>
    <% spree_current_user.addresses.each do |address| %>
    <tr>
      <td><%= address.to_s.gsub("<br/>", ", ") %></td>
      <td>
        <%= button_link_to '', edit_address_path(address), {class: 'btn-sm btn-warning pull-left glyphicon glyphicon-edit', style: 'margin-right: 3px;'} %>
        <%= button_link_to '', address_path(address), {class: 'btn-sm btn-danger pull-left glyphicon glyphicon-trash', style: 'margin-right: 3px;', method: :delete, confirm: Spree.t(:are_you_sure)} %>
        <% unless address.priority == 1 %>
        <%= button_link_to 'SET AS DEFAULT', default_address_path(address), {class: 'btn-sm btn-warning pull-left', style: 'margin-right: 3px;'} %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<div id='users-address-list-empty'>
  <%= t(:no_shipping_addresses_on_file, scope: :address_book) %>
</div>
<% end %>
<div id='new_address_link'>
  <%= link_to t(:add_new_shipping_address, scope: :address_book), controller: :addresses, action: :new %>
</div>
<br><br>
